:root {
  --purple-white: #e7eaf6;
  --purple-gray: #a2a8d3;
  --navy: #38598b;
  --navy-black: #113f67;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dbd8e3;
}

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--navy-black);
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
}


header nav {
  padding-top: 45px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: 550;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
}

header nav ul {
  list-style-type: none;
  margin-top: -6.4%;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: white;
}

figure img {
  height: auto;
  max-width: 38%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

a img{
  max-width: 80%;
}

.content{
display:flex;
width: 80%;
margin: 40px auto;
border: 5px solid var(--purple-gray);
box-shadow: 5px 10px var(--navy-black);
background-color: var(--purple-gray);
justify-content: space-between;
align-items: center;
padding: 0 10px;


}

.column {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 50px;
}

@media screen and (max-width: 768px) {
  body,
  header,
  section,
  img,

  .sidebar {
    flex-direction: column;
  }