:root {
  --purple-gray: #a2a8d3;
  --sea-green: #53a8b6;
  --very-black: #222831;
  --sea-stone: #407088;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--purple-gray);
}

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--sea-green);
  color: var(--very-black);
  width: 100%;
}

.sidebar {
  margin: -250px -278px -278px 0;
  padding: 12px;
  float: right;
  width: 20%;
  height: 50%;
  border: var(--very-black);
  box-shadow: 0 4px 8px var(--very-black);
}

.main-content {
  font-size: 32px;
  margin: -320px 284px 284px 0;
  padding: 12px;
  float: right;
  width: 20%;
  height: 50%;
}

header nav {
  padding-top: 32x;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: 550;
}

header nav ul {
  list-style-type: none;
  margin-top: -6.4%;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: var(--very-black);
}

img {
  height: auto;
  max-width: 35%;
}
